# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Back_GroceryToDo.iml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\GroceryAppBlazor\Back_GroceryToDo\Back_GroceryToDo\.idea\.idea.Back_GroceryToDo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
